<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Position | GutZofter</title>

    <%= stylesheet_link_tag 'pos' %>
  </head>

  <body id="body">

    <div id="header">

      <div id="logo">
        <h1>GutZofter</h1>
      </div>

      <div id="toolbar">
        <h1>Toolbar</h1>
      </div>

    </div>

    <div id="content">

      <div id="map-wrapper">
        <div id="map">
          <h1>map</h1>
        </div>
      </div>

      <div id="sidebar">
        <ul id="sidebar-list">
          <li>
            <h1>sidebar</h1>
          </li>
        </ul>
      </div>
    </div>

  </body>
</html>